<?xml version="1.0"?>
<config>
    <tabs>
        <jh translate="label" module="storeredirect">
            <label>JH Extensions</label>
            <sort_order>410</sort_order>
        </jh>
    </tabs>
	
    <sections>
        <storeredirect translate="label" module="storeredirect">
           
            <label>Store Redirect</label>
            <tab>jh</tab>
            <frontend_type>text</frontend_type>
            <sort_order>299</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>   
                        <enable translate="label">
                            <label>Enable Redirect for Request URL to best matching Storeview</label>                           
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>                        
                                     
                    </fields>				
                </general>
               
            </groups>
        </storeredirect>
    </sections>
</config>